<%- include('partials/header') -%>
<%- include('partials/navbar') -%>


<% if (!user) { %>
<p>Welcome! Please <a href="/login">log in</a>.</p>
<p>Welcome! Please  <a data-toggle="modal" href="#newUserModalStart">Create New User</a>.</p>
<p><a href="/nearyby">Continue as guest</a>.</p>
<% } else { %>
<p>Hello, <%= user.displayName %>. View your <a href="/profile">profile</a>.</p>
<% } %>

  <div>
    <%- include('partials/newUserModal') -%>
  </div>

<%- include('partials/footer') -%>
