<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<% if (user) { %>
<p> Hi <%= user.displayName %> </p>
<% } %>

<div class="container-fluid nearby-view" id="nearby-view">
  <aside class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <%- include('partials/trails-search-form') -%>
    </div>
  </aside>

  Please enter a zip code on the left to search.
  
  <br>


</div>
<%- include('partials/footer') -%>