<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<p>
    ID: <%= user.id %><br />
    Username: <%= user.username %><br />
    Name: <%= user.displayName %><br />
    Difficulty Level: <%= user.difficultyLevel %><br /> 
    <img src=<%= diffIcon %> >
</p>

<a href="/logout">Log out</a>

<%- include('partials/footer') -%>
