<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<p>
    Username: <%= user.username %><br />
    Display Name: <%= user.displayName %><br />
    Recommended Difficultly Level: <img src=<%= diffIcon %> > <%= recommendedDifficulty %><br /> 
</p>

<a href="/logout">Log out</a>

<%- include('partials/footer') -%>
