<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<div class="container-fluid nearby-view" id="nearby-view">
  <aside class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <%- include('partials/trails-search-form') -%>
    </div>
  </aside>


  <main class="container">
    <% for(var i=0; i < results.length; i++) {%>
    <div class="card">
      <div class="card-header"><strong><%= results[i].name %></strong></div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <strong>Location: </strong>
            <div><%= results[i].location %></div>
          </div>
          <div class="col">
            <strong>Distance: </strong>
            <div><%= results[i].distance %></div>
          </div>
          <div class="col">
            <strong>Difficulty: </strong>
            <div><%= results[i].difficulty %></div>
          </div>
          <div class="col">
            <strong>Est. Time: </strong>
            <div><%= results[i].time %></div>
          </div>
          <div class="col">
            <strong>Hike Length: </strong>
            <div><%= results[i].length %> mi.</div>
          </div>
        </div>

        <br>
        <a href=<%= results[i].directionLink %> target="_blank" rel="noopener noreferrer" class="btn btn-primary"
          id="directions">
          Get Directions
        </a>
        <a href="#" class="btn btn-primary" id="gear"> Gear Recommendations</a>
      </div>
    </div>
    <br>
    <% } %>
  </main>
  <br>


</div>
<%- include('partials/footer') -%>