<%- include('partials/header') -%>
<%- include('partials/navbar') -%>

<!-- Function for tooltip -->
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

<div class="container-fluid nearby-view" id="nearby-view">
  <aside class="bg-light border-right" id="sidebar-wrapper">
    <div class="list-group list-group-flush">
      <%- include('partials/trails-search-form') -%>
    </div>
  </aside>


  <main class="container">
    <% for(var i=0; i < results.length; i++) {%>
    <div class="card">
      <div class="card-header"><strong><%= results[i].name %></strong></div>
      <div class="card-body">
        <div class="row">
          <div class="col">
            <strong>Location: </strong>
            <div><%= results[i].location %></div>
          </div>
          <div class="col">
            <strong>Distance: </strong>
            <div><%= results[i].distance %></div>
          </div>
          <div class="col">
            <strong>Difficulty: </strong>
            <div><%= results[i].difficulty %></div>
          </div>
          <div class="col">
            <strong>Est. Time: </strong>
            <div><%= results[i].time %></div>
          </div>
          <div class="col">
            <strong>Hike Length: </strong>
            <div><%= results[i].length %> mi.</div>
          </div>
        </div>
        <div>

          <img id="infoIcon" data-toggle="tooltip" data-placement="bottom" title="<%= gear.desInfo %>"
            src="<%= gear.icon %>" class="img-fluid">

          <% if (results[i].length > 8) { %>
          <img class="gearIcon" data-toggle="tooltip" data-placement="bottom" title="<%= gear.desWaterThree %>"
            src="<%= gear.water %>" class="img-fluid">
          <% } else { %>
          <img class="gearIcon" data-toggle="tooltip" data-placement="bottom" title="<%= gear.desWaterOne %>"
            src="<%= gear.water %>" class="img-fluid">
          <% } %>

          <% if (results[i].length > 5) { %>
          <img class="gearIcon" data-toggle="tooltip" data-placement="bottom" title="<%= gear.desFoodTwo %>"
            src="<%= gear.food %>" class="img-fluid">
          <% } else { %>
          <img class="gearIcon" data-toggle="tooltip" data-placement="bottom" title="<%= gear.desFoodOne %>"
            src="<%= gear.food %>" class="img-fluid">
          <% } %>




          <% if (results[i].difficulty != 'green') { %>
          <img class="gearIcon" data-toggle="tooltip" data-placement="bottom" title="<%= gear.desBoots %>"
            src="<%= gear.boots %>" class="img-fluid">
          <% } %>

          <% if (results[i].ascent > 700) { %>
          <img class="gearIcon" data-toggle="tooltip" data-placement="bottom" title="<%= gear.desPoles %>"
            src="<%= gear.poles %>" class="img-fluid">
          <% } %>


        </div>

        <br>
        <a href="#" class="btn btn-primary" id="directions">Get Directions</a>
      </div>
    </div>
    <br>
    <% } %>
  </main>
  <br>


</div>
<%- include('partials/footer') -%>