<!-- Function for tooltip -->
<script>
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>

<form method="post" action="/nearby">
  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="zip">Zip</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Zip</div>
        </div>
        <input type="number" class="form-control" name="zip" id="zip" value=<%= defaultZip %>>
      </div>
    </div>
  </div>

  <div class="form-row align-items-center">
    <div class="col-auto">
      <label class="sr-only" for="limit">limit</label>
      <div class="input-group mb-2">
        <div class="input-group-prepend">
          <div class="input-group-text">Limit</div>
        </div>
        <input type="number" class="form-control" id="limit" value=<%= defaultLimit %>>
      </div>
    </div>
  </div>

  <div class="form-row align-items-center">
    <div class="col-auto">
      <label for="minDifficulty">Min difficulty</label>
      <input type="range" min="0" max="5" step="1" class="form-control" name="min" id="minDifficulty" value=<%= defaultMin %>>
      <label for="maxDifficulty">Max difficulty</label>
      <input type="range" min="0" max="5" step="1" class="form-control" name="max" id="maxDifficulty" value=<%= defaultMax %>>
    </div>
  </div>
  <div class="form-row">
    <div class="col-10">
      <label for="justForYou">Just For You</label>
      <input type="checkbox" class="form-control-right" name="justForYou" id="justForYou">
    </div>
    <div class="col-2">
      <img id="infoIcon" data-toggle="tooltip" data-placement="bottom" title="<%= gear.desJust %>"
      src="<%= gear.icon %>" class="img-fluid">
    </div>
    
  </div>
  <button type="submit" class="btn btn-primary">Search</button>
</form>